<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Settings</title>
    <link href="/output.css" rel="stylesheet">

</head>
<body class="bg-gray-200">
    <div class="min-h-screen flex flex-col">
        <%- include('includes/header'); -%> 
        <% if(errors !=null && errors.length> 0){ %>
            <div class="text-center">
            <% for (var i=0; i < errors.length; i++) { %>
            <div class="text text-red-500 font-medium" role="alert">
              <%= errors[i] %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
            <% } %>
        
        
            <% if(success !=null && success.length> 0){ %>
        
            <% for (var i=0; i < success.length; i++) { %>
            <div class="text text-green-500 font-medium" role="alert">
              <%= success[i] %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
        </div>
            <% } %>
        
        <div class="flex-grow p-5">
            <div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-lg">
                <h2 class="text-lg mb-5 font-bold">Change your password</h2>

                <form action="/dashboard/changePassword" method="POST">
                    <div class="mb-6">
                        <label for="current-password" class="block text-sm font-medium text-gray-700">Current Password</label>
                        <input type="password" id="current-password" name="password" class="mt-1 p-2 w-full border rounded-md" required>
                    </div>
                    <div class="mb-6">
                        <label for="new-password" class="block text-sm font-medium text-gray-700">New Password</label>
                        <input type="password" id="new-password" name="npassword" class="mt-1 p-2 w-full border rounded-md" required>
                    </div>
                    <div class="mb-6">
                        <label for="confirm-new-password" class="block text-sm font-medium text-gray-700">Confirm New Password</label>
                        <input type="password" id="confirm-new-password" name="cpassword" class="mt-1 p-2 w-full border rounded-md" required>
                    </div>
                    <div class="flex justify-end">
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Update Password</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <%- include('includes/footer'); -%> 

</body>
</html>



