<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/output.css" rel="stylesheet">
</head>
<body class="flex items-center justify-center h-screen bg-[url('images/nysc2.jpg')] bg-cover">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-sm">
        <h1 class="text-xl font-bold mb-4">User Login</h1>
        <% if (message) { %>
            <div class="alert text-red-500 alert-warning" role="alert"><%= message %></div>
        <% } %>
        <form action="/login" method="POST">
            <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
            <input type="text" id="username" name="username" class="mt-1 mb-4 p-2 w-full border rounded-md" required>

            <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
            <input type="password" id="password" name="password" class="mt-1 mb-6 p-2 w-full border rounded-md" required>

            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Login</button>
        </form>
    </div>
</body>
</html>
